body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

header {
    background-color: #c20e0e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color:red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.featured-news img {
    max-width: 100%;
    border-radius: 8px;
}

.latest-news h2 {
    color: red;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
.blink {
    animation: blinker 1.5s linear infinite;
    color: red;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
#id1
{
    color:#fff;
}   
#photo
{
    float:center;
}
ul {
    list-style-type: none;
    padding: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
b
{
    color:red;
}  